body {
  background-color: WhiteSmoke
  font-family: 'Roboto', sans-serif;
  color: MidnightBlue;
}
h1, h2 {
  font-family: 'Raleway', sans-serif;
}
.announcements {
  color: Tomato;
}
.details-header {
  color: WhiteSmoke;
  background-color: Tomato;
}
